.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.input-container {
  width: 300px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 10px;
}

.tag-in-input-container {
  display: flex;
  min-width: 300px;
  max-width: 600px;
  width: auto;
  height: auto;
  border: 1px solid gray;
  border-radius: 10px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.input {
  width: 295px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.input:focus {
  outline: none;
}

.tag-list {
  width: 300px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.in-input-tag-list {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  width: fit-content;
  height: 20px;
  background-color: #c5c5c5;
  margin: 5px;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.in-input-tag {
  width: fit-content;
  height: 20px;
  background-color: #c5c5c5;
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.close-icon {
  font-size: 10px !important;
  margin-left: 3px;
  cursor: pointer;
}

